* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/

$blue: #4b6cad;
$violet: #72419d;
$darkBlue: #2551a8;
$darkViolet: #4f2d7f;


@font-face {
    font-family: 'Clarendon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Clarendon Regular'), url('./ClarendonRegular.woff') format('woff');
}

body {
    background-color: black;
    color: white;
    font-family: "Clarendon Regular";
    min-height: 100vh;
    width: 100%;
    height: 100%;
}