* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blue: #4b6cad;
$violet: #72419d;

@font-face {
    font-family: 'Clarendon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Clarendon Regular'), url('/src/assets/ClarendonRegular.woff') format('woff');
}

@mixin separator{
    width: 90px;
    height: 5px;
    padding: 10px;
    margin: 100px auto;
}

@mixin text {
    font-size: clamp(1.5rem, 2vw, 3rem);
    max-width: 90vw;
    color:white;
    margin: 30px 40px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    letter-spacing: 0.08em;
}

@mixin title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 2vw, 1.5rem);
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 40px auto 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    0px 0px 10px rgba(66, 135, 245, 0.6);
    letter-spacing: 0.1em;
    min-height: 5rem;
}

body {
    background-color: black;
    color: white;
    font-family: "Clarendon Regular";
    min-height: 100vh;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
}