/*Media Queries*/

@mixin large {
    header {
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        nav {
            flex-flow: column nowrap;
            flex-grow: 1;
            margin: 20px auto 10px;
            .title {
                width: 90%;
                font-size: clamp(3rem, 2vw, 3.5rem);
            }
            .navItem {
                width: auto;
                margin: 10px auto;
                font-size: clamp(1.5rem, 2vw, 2rem);
                align-items: center;
            }
            .navButtons {
                max-width: 40%;
            }
        }
    }
    .welcome {
        .separator {
            margin: 10px auto;
        }
    }
    .catalogContainer {
        .catalogItem {
            flex: 0 0 calc(50% - 1rem);
            max-width: calc(50% - 1rem);
            button {
                font-size: clamp(1.2rem, 2vw, 1.5rem);
            }
        }
    }
    .itemDetailContainer {
        .p-card-body {
            .p-card-content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                .imageContainer{
                    width: 80%;
                }
                .cardBodyContainer {
                    .buttonsContainer{
                        .itemAmountButtons {
                            width: 90%;
                            margin: 20px auto;
                            button {
                                width: 10%;
                                max-width: 40%;
                                height: auto;
                                margin: 0px 10px;;
                            }
                        }
                        .optionsButtons {
                            margin: 30px auto 10px;
                            button {
                                span {
                                    font-size: clamp(0.9rem, 2vw, 1.2rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin medium {
    main {
        padding: 1vw 1vh;
    }
    header {
        margin: 20px auto 10px;
        nav {
            .title {
                width: 100%;
                font-size: clamp(2rem, 2vw, 2.5rem);
            }
            .navItem {
                width: auto;
            }
            .navButtons {
                max-width: calc(50% - 1rem);
            }
        }
    }
    .catalogContainer {
        .catalogItem {
            flex: 0 0 100%;
            max-width: 100%;
            button {
                font-size: clamp(1.5rem, 2vw, 2rem);
            }
            .cardImage {
                width: 90%;
                margin: 5px auto;
            }
        }
    }
    .itemDetailContainer {
        margin: 20px auto 40px;
        width: 90%;
    }
}

@mixin small {
    body {
        min-width: 320px;
    }
    header {
        margin: 20px auto 10px;
        nav {
            .title {
                width: 100%;
                font-size: clamp(2.5rem, 2vw, 3rem);
            }
            .navItem {
                width: auto;
            }
            .navButtons {
                max-width: calc(80% - 1rem);
            }
        }
    }
    .catalogContainer {
        .catalogItem {
            max-width: 80%;
        }
    }
}