/*Media Queries*/

@mixin large {
    @media (max-width: 1024px) {
        main {
            header {
                width: 100%;
                flex-flow: column wrap;
                justify-content: center;
                align-content: center;
                .title {
                    width: 80%;
                    font-size: clamp(2.5rem, 2vw, 3rem);
                }
                nav {
                    flex-flow: column wrap;
                    margin: 15px auto;
                    .navItem {
                        width: 20%;
                        font-size: clamp(1.5rem, 2vw, 2rem);
                        .toggleButton {
                            img {
                                width: 70%;
                            }
                        }
                    }
                }
            }
            .welcome {
                .separator {
                    margin: 20px auto;
                }
            }
            .albumTitle {
                margin: 1rem auto;
                min-height: 8rem;
                font-size: clamp(2rem, 2vw, 1.5rem);
            }
            .botones {
                margin: 15px auto;
                width: 60%;
            }
            .price {
                font-size: clamp(2.5rem, 2vw, 1.5rem);
                margin: 2rem auto;
            }
        }
    }
}

@mixin medium {
    @media (max-width: 768px) {
        main {
            header {
                .title {
                    font-size: clamp(1.7rem, 2vw, 1.8rem);
                }
                nav {
                    margin: 10px auto;
                    .navItem {
                        width: 15%;
                        font-size: clamp(1.5rem, 2vw, 2rem);
                        display: inline-block;
                        .toggleButton {
                            img {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        .subGrid {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                place-items: center;
                gap: 50px 2px;
                .albumContainer {
                    .albumTitle {
                        min-height: 7rem;
                        font-size: clamp(2.5rem, 2vw, 2rem);
                    }
                }
                .price {
                    font-size: clamp(2.5rem, 2vw, 2rem);
                }
            }
        }
    }
}

@mixin small {
    @media (max-width: 480px) {
        main {
            min-width: 320px;
            header {
                .title {
                    width: 100%;
                    font-size: clamp(1.3rem, 2vw, 1.5rem);
                }
                nav {
                    .navItem {
                        width: 20%;
                        font-size: clamp(1.5rem, 2vw, 2rem);
                        .toggleButton {
                            img {
                                width: 90%;
                            }
                        }
                    }
                }
            }
            .subGrid {
                div {
                    .flipContainer {
                        max-width: 80%;
                        height: auto;
                    }
                }
            }
        }
    }
}
