/*Partials Import*/

@use 'global.scss' as global;
@use 'mixins.scss' as mixins;
@use 'app.scss' as app;
@use 'navbar.scss' as navbar;


/*Component Styles*/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 5px;
    text-align: center;
    place-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    grid-template-areas:
        "header"
        "main"
        "hr2"
        "footer";
}

hr {
    @include mixins.hr;
}

main {
    header {
        grid-area: header;
        .title {
            @include mixins.title;
            margin: 10px auto;
        }
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px auto;
            min-height: 20px;
            max-width: 80%;
            .navItem {
                margin: 5px auto;
                height: 100%;
                font-size: clamp(1.5rem, 2vw, 2rem);
                color: white;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
                0px 0px 10px rgba(66, 135, 245, 0.6);
                letter-spacing: 0.1em;
                cursor: pointer;
                &:hover {
                    color: global.$darkViolet;
                }
                .toggle-button {
                    background-color: transparent;
                    border-color: transparent;
                    img {
                        width: 20%;
                        height: auto;
                        margin: 0 auto;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}