@use 'global.scss' as *;
@use 'app.scss' as *;
@use 'navbar.scss' as *;


$blue: #4b6cad;
$violet: #72419d;
$darkBlue: #2551a8;
$darkViolet: #4f2d7f;

body {
    background-color: black;
    font-family: "Clarendon Regular";
    color: white;
    min-height: 100vh;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    align-items: center;
    hr {
        width: 80%;
        height: 2px;
        background: linear-gradient(to left, $blue, $violet);
        margin: 40px auto;
        border: none;
        opacity: 0.8;
    }
}

@mixin separator{
    width: 90px;
    height: 5px;
    padding: 10px;
    margin: 100px auto;
}

@mixin text {
    font-size: clamp(1.5rem, 2vw, 3rem);
    max-width: 90vw;
    color:white;
    margin: 30px 40px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    letter-spacing: 0.08em;
}

@mixin title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 2vw, 1.5rem);
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 40px auto 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    0px 0px 10px rgba(66, 135, 245, 0.6);
    letter-spacing: 0.1em;
    min-height: 5rem;
}
/*Se aplican con @include !!!*/

.header { grid-area: header;
    margin: 40px auto 20px;
    h1 {
        font-size: clamp(4rem, 2vw, 6rem);
        background: linear-gradient(to left, $darkBlue, $violet);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
        0px 0px 10px rgba(66, 135, 245, 0.6);
        letter-spacing: 0.15em;
    }
}

