/*Partials Import*/

@use 'global.scss' as global;
@use 'mixins.scss' as mixins;
@use 'app.scss' as app;
@use 'mediaqueries.scss' as mediaqueries;


/*Component Styles*/

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 5px;
    text-align: center;
    place-items: center;
    max-width: 100%;
    height: 100%;
    flex-basis: 100%;
}

hr {
    @include mixins.hr;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
    flex-basis: 10%;
    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 20px auto 0px;
        min-height: 20px;
        background-color: transparent;
        gap: 5px;
        .title {
            @include mixins.title;
            margin: 5px auto;
            flex-basis: 70%;
        }
        .navItem {
            margin: auto;
            width: 20%;
            height: 15%;
            font-size: clamp(1.5rem, 2vw, 2rem);
            color: white;
            flex-basis: 10%;
            background-color: transparent;
            border-color: transparent;
            button {
                @include mixins.button;
                padding: 5px;
                background-color: transparent;
                width: 60%;
                img {
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                }
            }
        }
    }
}

.welcome {
    @include mixins.text;
    max-width: 80%;
    margin: 0 auto;
    flex-basis: 80%;
    .separator {
        @include mixins.separator;
        }
    p {
        margin: 10px auto;
        padding: 5px;
    }
    button{
        @include mixins.button;
        background-color: global.$darkBlue;
    }
}

.catalogContainer {
    @include mixins.catalogContainer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    flex-basis: 80%;
    .catalogItem {
        margin: 5px auto;
        padding: 5px;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

/*Media Query Imports*/
@media (max-width: 1024px) {
    @include mediaqueries.large;
}
@media (max-width: 768px) {
    @include mediaqueries.medium;
}
@media (max-width: 480px) {
    @include mediaqueries.small;
}