/*Partials Import*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Variables*/
@font-face {
  font-family: "Clarendon Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Clarendon Regular"), url("./ClarendonRegular.woff") format("woff");
}
body {
  background-color: black;
  color: white;
  font-family: "Clarendon Regular";
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

/*Partials Import*/
/*Mixin Declaration*/
/*Use with "@include mixins.{mixin}"!!*/
/*Media Queries*/
/*Component Styles*/
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: 5px;
  text-align: center;
  place-items: center;
  max-width: 100%;
  height: 100%;
  flex-basis: 100%;
}

hr {
  width: 80%;
  height: 2px;
  background: linear-gradient(to left, #4b6cad, #72419d);
  margin: 10px auto;
  border: none;
  opacity: 0.8;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  flex-basis: 10%;
}
header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 0px;
  min-height: 20px;
  background-color: transparent;
  gap: 5px;
}
header nav .title {
  margin: 20px auto;
  font-size: clamp(3rem, 2vw, 4rem);
  background: linear-gradient(to left, #2551a8, #72419d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(66, 135, 245, 0.6);
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 1.2;
  margin: 5px auto;
  flex-basis: 70%;
}
header nav .navItem {
  margin: auto;
  width: 20%;
  height: 15%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: white;
  flex-basis: 10%;
  background-color: transparent;
  border-color: transparent;
}
header nav .navButtons {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: auto;
}
header nav .navButtons button {
  justify-content: center;
  align-items: center;
  font: inherit;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  border-color: #2551a8;
  background-color: transparent;
  font-size: clamp(1.5rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-color: transparent;
  padding: 5px;
  background-color: transparent;
  width: 60%;
}
header nav .navButtons button:hover {
  background-color: #72419d;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(66, 135, 245, 0.6);
}
header nav .navButtons button img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.welcome {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px;
  flex-basis: 70%;
}
.welcome .separator {
  width: 90px;
  height: 5px;
  margin: 10px auto;
}
.welcome p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  max-width: 90vw;
  color: white;
  margin: 20px 30px;
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0.08em;
}
.welcome button {
  justify-content: center;
  align-items: center;
  font: inherit;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  border-color: #2551a8;
  background-color: transparent;
  font-size: clamp(1.5rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #2551a8;
}
.welcome button:hover {
  background-color: #72419d;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(66, 135, 245, 0.6);
}

.catalogContainer {
  display: flex;
  margin: 5px auto;
  padding: 10px;
  gap: 1rem;
  width: 90%;
  border: 4px solid transparent;
  border-image: linear-gradient(to left, #72419d, #2551a8);
  border-image-slice: 1;
  background-color: transparent;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto 40px;
  padding: 10px;
}
.catalogContainer .catalogItem {
  flex: 0 0 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  margin: 5px auto;
  padding: 10px;
  text-align: center;
}
.catalogContainer .catalogItem img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}
.catalogContainer .catalogItem button {
  justify-content: center;
  align-items: center;
  font: inherit;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  border-color: #2551a8;
  background-color: transparent;
  font-size: clamp(1.5rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
.catalogContainer .catalogItem button:hover {
  background-color: #72419d;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(66, 135, 245, 0.6);
}
.catalogContainer .catalogItem .p-card-title {
  margin: 10px auto;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  background: white;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 40px auto 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(66, 135, 245, 0.6);
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 1.2;
}
.catalogContainer .catalogItem .p-card-subtitle {
  margin: 10px auto;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  background: white;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 40px auto 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(66, 135, 245, 0.6);
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 1.2;
}

.notFound {
  font-size: clamp(1rem, 2vw, 1.2rem);
  max-width: 90vw;
  color: white;
  margin: 20px 30px;
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0.08em;
}
.notFound h2 {
  margin: 15px auto;
}
.notFound p {
  margin: 20px auto;
  padding: 5px;
}

.itemDetailContainer {
  /*WIP*/
  /*WIP*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(61, 5, 152, 0.6);
}
.itemDetailContainer .p-card-body .p-card-content {
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.itemDetailContainer .p-card-body .p-card-content img {
  width: calc(50% - 1rem);
  height: auto;
  margin: 0 auto;
}
.itemDetailContainer .p-card-body .p-card-content .itemDetail h1 {
  margin: 10px auto;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  background: white;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 40px auto 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(66, 135, 245, 0.6);
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 1.2;
  font-size: clamp(2.5rem, 2vw, 3.5rem);
}
.itemDetailContainer .p-card-body .p-card-content .itemDetail p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  max-width: 90vw;
  color: white;
  margin: 20px 30px;
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0.08em;
  font-size: clamp(2rem, 2vw, 2.5rem);
}
.itemDetailContainer .p-card-body .p-card-content .itemDetail .albumDescription {
  font-size: clamp(1rem, 2vw, 1.2rem);
  max-width: 90vw;
  color: white;
  margin: 20px 30px;
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0.08em;
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.itemDetailContainer .p-card-body .p-card-content .itemAmountContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  width: 90%;
  margin: 10px auto;
}
.itemDetailContainer .p-card-body .p-card-content .itemAmountContainer button {
  justify-content: center;
  align-items: center;
  font: inherit;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  border-color: #2551a8;
  background-color: transparent;
  font-size: clamp(1.5rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  max-width: calc(50% - 1rem);
}
.itemDetailContainer .p-card-body .p-card-content .itemAmountContainer button:hover {
  background-color: #72419d;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(66, 135, 245, 0.6);
}
.itemDetailContainer .p-card-body .p-card-content .optionsButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px auto;
  gap: 5rem;
  width: 90%;
}
.itemDetailContainer .p-card-body .p-card-content .optionsButtons button {
  justify-content: center;
  align-items: center;
  font: inherit;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  border-color: #2551a8;
  background-color: transparent;
  font-size: clamp(1.5rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  flex: 1;
  width: calc(50% - 1rem);
  min-width: 30%;
  max-width: 40%;
}
.itemDetailContainer .p-card-body .p-card-content .optionsButtons button:hover {
  background-color: #72419d;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(66, 135, 245, 0.6);
}
.itemDetailContainer .p-card-body .p-card-content .optionsButtons button span {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

/*Media Query Imports*/
@media (max-width: 1024px) {
  header {
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
  }
  header nav {
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: 20px auto 10px;
  }
  header nav .title {
    width: 90%;
    font-size: clamp(3rem, 2vw, 3.5rem);
  }
  header nav .navItem {
    width: auto;
    margin: 10px auto;
    font-size: clamp(1.5rem, 2vw, 2rem);
    align-items: center;
  }
  header nav .navButtons {
    max-width: 40%;
  }
  .welcome .separator {
    margin: 10px auto;
  }
  .catalogContainer .catalogItem {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
  .catalogContainer .catalogItem button {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
  }
}
@media (max-width: 768px) {
  main {
    padding: 1vw 1vh;
  }
  header {
    margin: 20px auto 10px;
  }
  header nav .title {
    width: 100%;
    font-size: clamp(2rem, 2vw, 2.5rem);
  }
  header nav .navItem {
    width: auto;
  }
  header nav .navButtons {
    max-width: calc(50% - 1rem);
  }
  .catalogContainer .catalogItem {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .catalogContainer .catalogItem button {
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
  .catalogContainer .catalogItem .cardImage {
    width: 90%;
    margin: 5px auto;
  }
  .itemDetailContainer {
    margin: 20px auto 40px;
  }
}
@media (max-width: 480px) {
  body {
    min-width: 320px;
  }
  header {
    margin: 20px auto 10px;
  }
  header nav .title {
    width: 100%;
    font-size: clamp(2.5rem, 2vw, 3rem);
  }
  header nav .navItem {
    width: auto;
  }
  header nav .navButtons {
    max-width: calc(80% - 1rem);
  }
  .catalogContainer .catalogItem {
    max-width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
